<% title = 'iframe版管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>
<div class="eza nav">
    <div id="parentMenu" class="eza scroll-box-v">
        <ul>
            <% ['home', 'mail', 'flag', 'pie-chart', 'message-2', 'bank-card'].forEach(function(item, i){ %>
                <li>
                    <a href="#sub-nav-<%- i %>" class="<%- i == 0 ? 'current' : '' %>">
                        <i class="remixicon-<%- item %>-line"></i>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="eza sub-nav">
    <div class="eza scroll-box-v">
        <%
        var menu1 = [
            {name: '首页', ctrl: 'index', action: 'index'},
            {name: '机构管理'},
            {
                name: '所有机构', child: [
                    {name: '我跟进的机构'},
                    {name: '我维护的机构'},
                    {name: '实名审核'},
                    {name: '已开产品'}
                ]
            },
            {name: '短信管理'},
            {
                name: '财务管理', current: true, child: [
                    {name: '财务总览', url: './index.html'},
                    {name: '订单管理', url: '../button/button.html', current: true},
                    {
                        name: '流水', child: [
                            {name: '充值明细充值明细充值明细充值明细充值明细'},
                            {name: '消费明细'}
                        ]
                    },
                    {name: '认款'}
                ]
            },
            {
                name: '一级栏目', child: [
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'}
                ]
            },

        ];
        var menu2 = [
            {
                name: '流水', current: true, child: [
                    {name: '充值明细充值明细充值明细充值明细充值明细', url: '../color/text.html'},
                    {name: '消费明细', url: '../color/background.html'}
                ]
            },
        ];
        %>
        <% var render_menu = function (data, root) { %>
            <% if(typeof root != 'undefined' && root == true){ %>
                <% data.forEach(function(item, i){ %>
                    <dl <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>>
                        <dt><a href="#"><%- item.name %></a></dt>
                        <dd>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </dd>
                    </dl>
                <% }) %>
            <% } else { %>
                <ul>
                    <% data.forEach(function(item, i){ %>
                        <li>
                            <a data-url="<%- typeof item.url != 'undefined' ? item.url :'#'%>" <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>><%- item.name %></a>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>

        <% } %>
        <div id="sub-nav-0" class="sub-nav-item">
            <div class="eza sub-nav-body">
                <% render_menu(menu1, true) %>
            </div>
        </div>
        <div id="sub-nav-1" class="sub-nav-item">
            <div class="eza sub-nav-body">
                <% render_menu(menu2, true) %>
            </div>
        </div>
        <div id="sub-nav-2" class="sub-nav-item">222</div>
        <div id="sub-nav-3" class="sub-nav-item">333</div>
        <div id="sub-nav-4" class="sub-nav-item">444</div>
        <div id="sub-nav-5" class="sub-nav-item">555</div>
    </div>
</div>
<div class="eza header">
    <div class="eza header-logo pull-left">
        <a href="#">系统管理中心</a>
    </div>
    <div class="eza header-menu pull-right">
        右侧菜单1
    </div>
    <i id="header-arrow-left" class="eza header-arrow pull-left remixicon-arrow-left-s-line"></i>
    <i id="header-arrow-right" class="eza header-arrow pull-right remixicon-arrow-right-s-line"></i>
    <div class="eza header-tabs">
        <div class="eza scroll-box-h">
            <ul id="iframeTabsHeader">
            </ul>
        </div>
    </div>
</div>
<div id="iframeTabsContent" class="eza main">
<!--    <iframe src="./index.html" frameborder="0" id="iframe"></iframe>-->
</div>
<%- include('../compoents/default/_footer.ejs'); %>

<script>
    $('.nav li a').tabs();  //一级菜单切换
    $('.sub-nav dt a').subNav();  //二级菜单切换
    $('.sub-nav-item a').iframeTabs({    //初始化多标签
        parentEl: $('#parentMenu a'),
        headerEl: $('#iframeTabsHeader'),
        contentEl: $('#iframeTabsContent'),
        leftArrow: $('#header-arrow-left'),
        rightArrow: $('#header-arrow-right'),
    });
</script>
