<% title = 'iframe版管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>
<style>
    html, body {
        overflow: hidden;
    }
</style>
<div id="parentMenu" class="ez-nav">
    <!--    <div  class="ez scroll-box-v">-->
    <ul>
        <% ['home', 'mail', 'flag', 'pie-chart', 'message-2', 'bank-card'].forEach(function(item, i){ %>
            <li>
                <a href="#sub-nav-<%- i %>" class="<%- i == 0 ? 'current' : '' %>">
                    <i class="remixicon-<%- item %>-line"></i>
                </a>
            </li>
        <% }) %>
            <li class="ez-nav-line"></li>
        <% ['home', 'mail', 'flag', 'pie-chart', 'message-2', 'bank-card'].forEach(function(item, i){ %>
            <li>
                <a href="#sub-nav-<%- i %>" class="<%- i == 0 ? 'current' : '' %>">
                    <i class="remixicon-<%- item %>-line"></i>
                </a>
            </li>
        <% }) %>
    </ul>
    <!--    </div>-->
</div>
<div class="ez-sub-nav">
    <div class="ez-scroll-box-v">
        <%
        var menu1 = [
            {
                name: '首页', ctrl: 'index', action: 'index', child: [
                    {name: '消费明细1', url: './index.html#31'},
                    {name: '消费明细2', url: './index.html#42'},
                    {name: '消费明细3', url: './index.html#53'},
                    {name: '消费明细4', url: './index.html#64'}
                ]
            },
            {
                name: '机构管理', child: [
                    {name: '消费明细5', url: './index.html#35'},
                    {name: '消费明细6', url: './index.html#46'},
                    {name: '消费明细7', url: './index.html#57'},
                    {name: '消费明细8', url: './index.html#68'}
                ]
            },
            {
                name: '所有机构', child: [
                    {name: '消费明细9', url: './index.html#3'},
                    {name: '消费明细10', url: './index.html#4'},
                    {name: '消费明细11', url: './index.html#5'},
                    {name: '消费明细12', url: './index.html#6'}
                ]
            },
            {
                name: '财务管理', current: true, child: [
                    {name: '消费明细13', url: './index.html'},
                    {name: '消费明细14', url: '../admin/role.html', current: false},
                    {
                        name: '流水', child: [
                            {name: '消费明细15.com', url: './index.html#8'},
                            {name: '消费明细16', url: './index.html#9'}
                        ]
                    },
                    {name: '17', url: './index.html#10'}
                ]
            },
            {
                name: '一级栏目', child: [
                    {name: '消费明细18', url: './index.html#11'},
                    {name: '消费明细19', url: './index.html#12'},
                    {name: '消费明细20', url: './index.html#13'},
                    {name: '消费明细21', url: './index.html#14'}
                ]
            },

        ];
        var menu2 = [
            {
                name: '流水', current: true, child: [
                    {name: '充值明细充值明细充值明细充值明细充值明细', url: '../color/text.html'},
                    {name: '消费明细', url: '../color/background.html'}
                ]
            },
        ];
        %>
        <% var render_menu = function (data, root) { %>
            <% if(typeof root != 'undefined' && root == true){ %>
                <% data.forEach(function(item, i){ %>
                    <dl <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>>
                        <dt><a href="#"><%- item.name %></a></dt>
                        <dd>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </dd>
                    </dl>
                <% }) %>
            <% } else { %>
                <ul>
                    <% data.forEach(function(item, i){ %>
                        <li>
                            <a data-url="<%- typeof item.url != 'undefined' ? item.url : '#' %>" <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>><%- item.name %></a>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>

        <% } %>
        <div id="sub-nav-0" class="ez-sub-nav-item">
            <div class="ez-sub-nav-header">
                <div class="ez-sub-nav-title">标题啊</div>
            </div>
            <div class="ez-sub-nav-body">
                <% render_menu(menu1, true) %>
            </div>
        </div>
        <div id="sub-nav-1" class="ez-sub-nav-item">
            <div class="ez-sub-nav-body">
                <% render_menu(menu2, true) %>
            </div>
        </div>
        <div id="sub-nav-2" class="ez-sub-nav-item">222</div>
        <div id="sub-nav-3" class="ez-sub-nav-item">333</div>
        <div id="sub-nav-4" class="ez-sub-nav-item">444</div>
        <div id="sub-nav-5" class="ez-sub-nav-item">555</div>
    </div>
</div>
<div class="ez-user">
    <dl>
        <dt>
            <img class="ez-pull-left" src="https://qytx.k400.cc/Public/home/images/logo_min-6e97a9aae9.png" alt="">
            <a href="#" class="ez-pull-right" title="退出"><i class="remixicon-login-box-line"></i></a>
            <a href="#" class="ez-user-name">牟艺</a>
        </dt>
        <dd>
            <a href="#" class="active"><i class="remixicon-message-3-line ri-fw"> 消息 <span id="msgTips">12</span></i></a>
            <a href="#"><i class="remixicon-checkbox-line ri-fw"> 待办 0</i></a>
        </dd>
    </dl>
</div>
<div id="headlines" class="ez-headlines">
    <i class="ez-headlines-close remixicon-close-circle-fill"></i>
    <dl>
        <dt>这里是公告的标题啊 <span>2019-08-07 16:43:03</span></dt>
        <dd>这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。<br>这是公告的内容，可能会很长，很长很长的内容。</dd>
<!--        <dt>这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。这是公告的内容，可能会很长，很长很长的内容。 <span>2019-08-07 16:43:03</span></dt>-->
    </dl>
</div>
<div class="ez-header">
    <div class="ez-header-logo pull-left">
        <a href="#">系统管理中心</a>
    </div>
<!--    <div class="ez header-menu ">-->
<!--        <ul>-->
<!--            <li>NMTuan</li>-->
<!--            <li><a href="#">超链接</a></li>-->
<!--            <li><a href="#">超链接</a></li>-->
<!--            <li><a href="#">安全退出</a></li>-->
<!--        </ul>-->




<!--    </div>-->
    <i id="header-arrow-left" class="ez-header-arrow pull-left remixicon-arrow-left-s-line"></i>
    <i id="header-arrow-refresh" class="ez-header-arrow pull-right remixicon-refresh-line"></i>
    <i id="header-arrow-right" class="ez-header-arrow pull-right remixicon-arrow-right-s-line"></i>
    <div class="ez-header-tabs">
        <ul id="iframeTabsHeader">
            <li class="current" data-url="overview">这是个固定页面</li>
        </ul>
    </div>
</div>
<div id="iframeTabsContent" class="ez-main">
<!--    <div class="ez main-content">-->
<!--        <%for(var i = 0; i < 100; i++){%>-->
<!--        <p>这是固定页面的内容</p>-->
<!--        <%}%>-->
<!--    </div>-->
        <iframe src="/view/table/list.html" frameborder="0" id="iframe"></iframe>
</div>
<%- include('../compoents/default/_footer.ejs'); %>

<script>
    $('.ez-nav li a').tabs();  //一级菜单切换
    $('.ez-sub-nav dt a').subNav();  //二级菜单切换
    $('.ez-sub-nav-item a').iframeTabs({    //初始化多标签
        parentEl: $('#parentMenu a'),
        headerEl: $('#iframeTabsHeader'),
        contentEl: $('#iframeTabsContent'),
        leftArrow: $('#header-arrow-left'),
        rightArrow: $('#header-arrow-right'),
        refreshEl: $('#header-arrow-refresh')
    });
</script>
