<% title = 'iframe版管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>
<div class="eza nav">
    <div class="eza scroll-box-v">
        <ul>
            <%['paperclip', 'address-book', 'bookmark', 'chart-pie', 'asterisk'].forEach(function(item, i){%>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <li><a href="#"><i class="fa fa-<%-item%> fa-fw fa-lg"></i> </a></li>
            <%})%>
        </ul>
    </div>
</div>
<div class="eza sub-nav">
    <div class="eza scroll-box-v">
        <%
        var menu = [
            {name: '首页', ctrl: 'index', action: 'index'},
            {name: '机构管理'},
            {
                name: '所有机构', child: [
                    {name: '我跟进的机构'},
                    {name: '我维护的机构'},
                    {name: '实名审核'},
                    {name: '已开产品'}
                ]
            },
            {name: '短信管理'},
            {
                name: '财务管理', child: [
                    {name: '财务总览'},
                    {name: '订单管理'},
                    {
                        name: '流水', child: [
                            {name: '充值明细'},
                            {name: '消费明细'}
                        ]
                    },
                    {name: '认款'}
                ]
            },
        ];
        %>
        <% var render_menu = function (data) { %>
            <ul>
                <% data.forEach(function(item, i){ %>
                    <li><a href="#"><%- item.name %></a>
                        <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                            <% render_menu(item.child) %>
                            <% render_menu(item.child) %>
                            <% render_menu(item.child) %>
                            <% render_menu(item.child) %>
                        <% } %>
                    </li>
                <% }) %>
            </ul>
        <% } %>
        <% render_menu(menu) %>
    </div>
</div>
<div class="eza main">
    <ul class="ez main_tabs">
        <li>首页 <i class="fa fa-times"></i></li>
        <li>客户管理 <i class="fa fa-times"></i></li>
        <li>代理商管理 <i class="fa fa-times"></i></li>
        <li>充值明细 <i class="fa fa-times"></i></li>
    </ul>
    <% for(var i = 0; i < 100; i++){ %>
        <p><%- i %> test</p>
    <% } %>
</div>
<%- include('../compoents/default/_footer.ejs'); %>

<script>
    var data = [
        {name: '首页', ctrl: 'index', action: 'index'},
        {name: '机构管理'},
        {
            name: '所有机构', child: [
                {name: '我跟进的机构'},
                {name: '我维护的机构'},
                {name: '实名审核'},
                {name: '已开产品'}
            ]
        },
        {name: '短信管理'},
        {
            name: '财务管理', child: [
                {name: '财务总览'},
                {name: '订单管理'},
                {
                    name: '流水', child: [
                        {name: '充值明细'},
                        {name: '消费明细'}
                    ]
                },
                {name: '认款'}
            ]
        },
    ];
    var menu = new ez.Menu({
        data: data,
    });
    // $('#sidebar_menu').html(menu.render_menu());
</script>