<% title = 'iframe版管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>
<div class="eza nav">
    <div class="eza scroll-box-v">
        <ul>
            <% ['home', 'mail', 'flag', 'pie-chart', 'message-2', 'bank-card'].forEach(function(item, i){ %>
                <li>
                    <a href="#sub-nav-<%- i %>" class="<%- i == 0 ? 'current' : '' %>">
                        <i class="remixicon-<%- item %>-line"></i>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="eza sub-nav">
    <div class="eza scroll-box-v">
        <%
        var menu = [
            {name: '首页', ctrl: 'index', action: 'index'},
            {name: '机构管理'},
            {
                name: '所有机构', child: [
                    {name: '我跟进的机构'},
                    {name: '我维护的机构'},
                    {name: '实名审核'},
                    {name: '已开产品'}
                ]
            },
            {name: '短信管理'},
            {
                name: '财务管理', current: true, child: [
                    {name: '财务总览'},
                    {name: '订单管理', current: true},
                    {
                        name: '流水', child: [
                            {name: '充值明细充值明细充值明细充值明细充值明细'},
                            {name: '消费明细'}
                        ]
                    },
                    {name: '认款'}
                ]
            },
            {
                name: '一级栏目', child: [
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'}
                ]
            },

        ];
        %>
        <% var render_menu = function (data, root) { %>
            <% if(typeof root != 'undefined' && root == true){ %>
                <% data.forEach(function(item, i){ %>
                    <dl <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>>
                        <dt><a href="#"><%- item.name %></a></dt>
                        <dd>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </dd>
                    </dl>
                <% }) %>
            <% } else { %>
                <ul>
                    <% data.forEach(function(item, i){ %>
                        <li>
                            <a href="#" <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>><%- item.name %></a>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>

        <% } %>
        <div id="sub-nav-0" class="eza sub-nav-box">
<!--            <div class="eza sub-nav-header">-->
<!--                <div class="eza sub-nav-header fixed">-->
<!--                    <div class="eza sub-nav-title">-->
<!--                        <i class="fa fa-pen fa-fw"></i> 企业管理-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="eza sub-nav-body">
                <% render_menu(menu, true) %>
            </div>
        </div>
        <div id="sub-nav-1">111</div>
        <div id="sub-nav-2">222</div>
        <div id="sub-nav-3">333</div>
        <div id="sub-nav-4">444</div>
        <div id="sub-nav-5">555</div>
    </div>
</div>
<div class="eza header">
    <div class="eza header-logo">
        <a href="#">系统管理中心</a>
    </div>
    <div class="eza header-menu">
        右侧菜单1
    </div>
    <div class="eza header-tabs">
        <div class="eza scroll-box-h">
            <ul class="eza">
                <li><i class="fa fa-home fa-fw fa-lg"></i></li>
                <li class="current">客户管理 <i class="fa fa-times"></i></li>
                <%for(var i = 0; i < 1; i++){%>
                    <li>一二三 <i class="fa fa-times"></i></li>
                    <li>一二三四 <i class="fa fa-times"></i></li>
                    <li>一二三四五 <i class="fa fa-times"></i></li>
                    <li>一二三四五六 <i class="fa fa-times"></i></li>
                    <li>代理商管理 <i class="fa fa-times"></i></li>
                    <li>充值明细 <i class="fa fa-times"></i></li>
                <%}%>
            </ul>
        </div>
    </div>
</div>
<script>
    // eza.tabs($('.nav li a'));
    $('.nav li a').tabs();
</script>
<div class="eza main">
    <iframe src="./index.html" frameborder="0" id="iframe"></iframe>
</div>
<%- include('../compoents/default/_footer.ejs'); %>

<script>
    // eza.calHeight($('#iframe'));
    $('#iframe').renderHeight();
</script>
