<% title = 'iframe版管理端布局'; %>
<%- include('../compoents/default/_header.ejs'); %>
<div class="eza nav">
    <div class="eza scroll-box-v">
        <div class="eza logo">
            <div class="eza logo fixed">
                LOGO
            </div>
        </div>
        <ul>
            <% ['address-book', 'comments', 'bookmark', 'envelope', 'map', 'chart-bar'].forEach(function(item, i){ %>
                <li><a href="#" class="<%- i == 1 ? 'current' : '' %>"><i class="far fa-<%- item %> fa-fw fa-lg"></i>
                    </a>
                </li>
                <li><a href="#" class="<%- i == 2 ? 'current' : '' %>"><i class="far fa-<%- item %> fa-fw fa-lg"></i>
                    </a>
                </li>
                <li><a href="#" class="<%- i == 3 ? 'current' : '' %>"><i class="far fa-<%- item %> fa-fw fa-lg"></i>
                    </a>
                </li>
            <% }) %>
        </ul>
    </div>
</div>
<div class="eza sub-nav">
    <div class="eza scroll-box-v">
        <%
        var menu = [
            {name: '首页', ctrl: 'index', action: 'index'},
            {name: '机构管理'},
            {
                name: '所有机构', child: [
                    {name: '我跟进的机构'},
                    {name: '我维护的机构'},
                    {name: '实名审核'},
                    {name: '已开产品'}
                ]
            },
            {name: '短信管理'},
            {
                name: '财务管理', current: true, child: [
                    {name: '财务总览'},
                    {name: '订单管理', current: true},
                    {
                        name: '流水', child: [
                            {name: '充值明细充值明细充值明细充值明细充值明细'},
                            {name: '消费明细'}
                        ]
                    },
                    {name: '认款'}
                ]
            },
            {
                name: '一级栏目', child: [
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'},
                    {name: '二级栏目'}
                ]
            },

        ];
        %>
        <% var render_menu = function (data, root) { %>
            <% if(typeof root != 'undefined' && root == true){ %>
                <% data.forEach(function(item, i){ %>
                    <dl <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>>
                        <dt><a href="#"><%- item.name %></a></dt>
                        <dd>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </dd>
                    </dl>
                <% }) %>
            <% } else { %>
                <ul>
                    <% data.forEach(function(item, i){ %>
                        <li>
                            <a href="#" <%- typeof item.current != 'undefined' && item.current == true ? ' class="current"' : '' %>><%- item.name %></a>
                            <% if(typeof item.child != 'undefined' && item.child.length > 0){ %>
                                <% render_menu(item.child) %>
                            <% } %>
                        </li>
                    <% }) %>
                </ul>
            <% } %>

        <% } %>
        <div class="eza sub-nav-box">
            <div class="eza sub-nav-header">
                <div class="eza sub-nav-header fixed">
                    <div class="eza sub-nav-title">
                        <i class="fa fa-pen fa-fw"></i> 企业管理
                    </div>
                </div>
            </div>
            <div class="eza sub-nav-body">
                <% render_menu(menu, true) %>
            </div>
        </div>
    </div>
</div>
<div class="eza main">
    <ul class="ez main_tabs">
        <li>首页 <i class="fa fa-times"></i></li>
        <li>客户管理 <i class="fa fa-times"></i></li>
        <li>代理商管理 <i class="fa fa-times"></i></li>
        <li>充值明细 <i class="fa fa-times"></i></li>
    </ul>
    <% for(var i = 0; i < 100; i++){ %>
        <p><%- i %> test</p>
    <% } %>
</div>
<%- include('../compoents/default/_footer.ejs'); %>

<script>
    var data = [
        {name: '首页', ctrl: 'index', action: 'index'},
        {name: '机构管理'},
        {
            name: '所有机构', child: [
                {name: '我跟进的机构'},
                {name: '我维护的机构'},
                {name: '实名审核'},
                {name: '已开产品'}
            ]
        },
        {name: '短信管理'},
        {
            name: '财务管理', child: [
                {name: '财务总览'},
                {name: '订单管理'},
                {
                    name: '流水', child: [
                        {name: '充值明细'},
                        {name: '消费明细'}
                    ]
                },
                {name: '认款'}
            ]
        },
    ];
    var menu = new ez.Menu({
        data: data,
    });
    // $('#sidebar_menu').html(menu.render_menu());
</script>
