<% title = '文字颜色'; %>
<%-include('../compoents/default/_header.ejs');%>
<%
    var colors = [
    "red",
    "pink",
    "purple",
    "deep-purple",
    "indigo",
    "blue",
    "light-blue",
    "cyan",
    "teal",
    "green",
    "light-green",
    "lime",
    "yellow",
    "amber",
    "orange",
    "deep-orange",
    "brown",
    "blue-grey",
    "grey"
    ];
%>
<% colors.forEach(color => { %>
<h3><%= color; %></h3>
<div class="ez-text-<%= color; %>">.text-<%= color; %></div>
<% ['l5','l4','l3','l2','l1','d4','d3','d2','d1'].forEach(type=>{ %>
<div class="ez-text-<%= color; %> ez-text-<%=type%>">.text-<%= color; %>.text-<%= type %></div>
<% }) %>
<% }) %>

<h3>shades</h3>
<div class="ez-text-white ez-bg-black">.text-white</div>
<div class="ez-text-black">.text-black</div>
<div class="ez-text-transparent ez-bg-black">.text-transparent</div>
<%-include('../compoents/default/_footer.ejs');%>
