<% title = '表单试听'; %>
<%- include('../compoents/default/_header.ejs'); %>

<h2><%- title; %></h2>
<div class="ez-form ez-form-inline ez-form-full">
    <%- include('./_input_player.ejs', {url: '../../data/music_1.mp3'}) %>
    <%- include('./_select_player.ejs', {id: 'select_1'}) %>
</div>

<br>

<div class="ez-form ez-form-inline ez-form-full ez-form-sm">
    <%- include('./_input_player.ejs', {url: '../../data/music_3.mp3'}) %>
    <%- include('./_select_player.ejs', {id: 'select_2'}) %>
</div>

<script>
    $('.input_play').ez_form_play();
    $('.select_play').ez_form_play();
</script>


<%- include('../compoents/default/_footer.ejs'); %>
