<% title = '等分栅格'; %>
<%- include('../compoents/default/_header.ejs'); %>

<% [1, 2, 3, 4, 5, 6, 7, 8].forEach(item => { %>
    <div class="ez-avg" style="background-color:#fff;">
        <% for(var i = 0; i < item; i++){ %>
            <div class="ez-avg-item">
                <%- item %> - <%- i + 1 %>
                <% if(item === 2){ %>
                    <div class="ez-form ez-form-inline ez-form-full">
                        <%- include('../form/_form.ejs'); %>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
<% }) %>


<%- include('../compoents/default/_footer.ejs'); %>
