<% title = '栅格'; %>
<%-include('../compoents/default/_header.ejs');%>

<% [12, 6, 4, 3, 2, 1].forEach(item => { %>
<div class="ez row">
    <%for(var i = 0; i < item; i++){%>
    <div class="ez col col<%- 12/item %>">
        <div class="ez bg-blue-grey bg-l<%- i%5+1 %>">.col.col<%- 12/item %></div>
    </div>
    <%}%>
</div>
<% }) %>

    <% [12, 6, 4, 3, 2, 1].forEach(item => { %>
    <div class="ez row row-span">
        <%for(var i = 0; i < item; i++){%>
        <div class="ez col col<%- 12/item %>">
            <div class="ez bg-blue .bg-l<%- i%5+1 %>">.col.col<%- 12/item %></div>
        </div>
        <%}%>
</div>
<% }) %>

        <%-include('../compoents/default/_footer.ejs');%>